* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.card {
  width: 320px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.card__header h2 {
  text-align: center;
  padding: 15px;
  border-bottom: 1px solid #ddd;
  font-weight: 30;
}

.details {
  padding: 18px;
  text-align: center;
}

.price {
  font-size: 34px;
  margin-bottom: 10px;
}

.price span {
  font-size: 18px;
  color: #555;
}

.details p {
  margin: 4px 0;
  line-height: 1.2;
  font-weight: 600;
}
.card__header p {
  padding: 0px 0px 0px 0px;
}
.card button {
  margin-top: 15px;
  width: 100%;
  padding: 12px 0;
  background-color: #222;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.card button:hover {
  background-color: #000;
}
